<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <caption>List of Users</caption>
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userName}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{'/admin/editUser?id='+${user.id}}">Edit</a></td>
        <td><a th:href="@{'/admin/deleteUser?id='+${user.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<br><br>
<a th:href="@{'/admin/addUser'}">Add User</a>
</body>
</html>