<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <caption>About you</caption>
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.userName}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>

</table>
<br>
<form action="/logout">
    <input type="submit" value="logout">
</form>
</body>
</html>